<footer id="footer">
  <div id="social">
    <a href="https://github.com/robertodr" title="github"><i class="fa fa-github-square"></i></a>
    &middot;
    <a href="https://gitlab.com/u/robertodr" title="gitlab"><i class="fa fa-git-square"></i></a>
    &middot;
    <a href="https://twitter.com/_boberto_" title="twitter"><i class="fa fa-twitter-square"></i></a>
    &middot;
    <a href="https://plus.google.com/u/0/+RobertoDiRemigio" title="google-plus"><i class="fa fa-google-plus-square"></i></a>
    &middot;
    <a href="mailto:roberto.diremigio@gmail.com" title="email"><i class="fa fa-envelope-square"></i></a>
    &middot;
    <a href="/atom.xml" title="feed"><i class="fa fa-rss-square"></i></a>
  </div>
  <!-- <div id="credit">
    Designed by <a href="http://www.blaenkdenum.com">Jorge Israel Peña</a>
  </div> -->
</footer>

$if(preview)$
  $pushJS$
$endif$

$commentsJS$

<!-- google analytics -->
<script async="true" type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37339861-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!--MathJax CDN-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle: "none"
  });

  MathJax.Hub.Register.MessageHook('End Process', function() {
    jQuery('#MathJax_Font_Test').empty();
    jQuery('.MathJax_Display').parent('.math').addClass('mobile-math');
  });
</script>
<script async="true" type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
</script>
